<footer>
  <p>&copy; {{ currentYear }} MaquiControl. {{ 'footer.rights' | translate }}</p>
  <p>{{ 'footer.developed-by' | translate }} AndesHeavyTech</p>
  <p>{{ 'footer.tagline' | translate }}</p>
  <p><a routerLink="/terms">{{ 'footer.terms' | translate }}</a></p>
  <p>
    {{ 'footer.powered-by' | translate }}
    <a href="https://material.angular.dev/" target="_blank" rel="noopener noreferrer">Angular Material</a>
    {{ 'footer.and' | translate }}
    <a href="https://ngx-translate.org/" target="_blank" rel="noopener noreferrer">ngx-translate</a>
  </p>
</footer>
